<!-- <h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="#">Ruby on Rails Tutorial</a>
  sample application.
  <br><br>
  <%= link_to "python output", callPython_path %>
  <br>
  <%= link_to "run each line", runPython_path %>
</p> -->

<body>
		<!-- HEADER
		============================================= -->
		<header id="header">		
			<div class="navbar navbar-fixed-top">	
				<div class="container">
					<!-- Navigation Bar -->
					<div class="navbar-header">
						<!-- Responsive Menu -->
						<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<!-- Logo Image -->
						<a class="navbar-brand" href="#"><%= image_tag("logo.png", :alt=>"logo",:role=>"banner")%></a>
					
					</div>	<!-- End Navigation Bar -->
								
				</div>	  <!-- End container -->
			</div>		<!-- End navbar fixed top  -->		
		</header>	<!-- END HEADER -->
	
		<!-- CONTENT WRAPPER
		============================================= -->
		
		<div id="content_wrapper">
		

			<!-- INTRO
			============================================= -->
			<section id="intro">
			
				<!-- Intro Slides -->
				<div id="slides">
					<ul class="slides-container">
					
						<!-- Intro Slider Image 1 -->
						<li>
							<div class="intro-content">
								<!-- <h3></h3> -->
								<h1>A Visual Intelligence That Creates Your <span>Daily Look </span></h1>

							</div>
							<%= image_tag("wallpaper.jpg") %>
						</li>
					</ul>
				</div>	
				<!-- End Intro Slides -->

			</section>	<!-- END INTRO -->

			<!-- FEATURES LIST
			============================================= -->
			<section id="features">
				<div class="features_title text-center">						
					<h1 id="features_head">Machine Learning</h1>
					<p>Hi, this is DeepFashion. The graph visualizes how I learn to match clothes. I first recognize the category of a clothes image and then compare the color scheme with all the popular color schemes of the category.
					</p>
				</div>		
				<div id = "machineLearning"></div>								
			</section>	<!-- END FEATURES LIST -->
					
			<!-- DATABASE IMAGE
			============================================= -->
			<section id="database">
				<div id="container">
					<div class="features_title text-center">		
						<h1 id="database_head">Outfit Gallery</h1>
						<p id="database_paragraph">Select your favorite outfit from our gallery</p>
					</div>
     				<div id="banner" class="photobanner">
						<%= image_tag("http://deepfashion.org/image/lg-517.jpg",:class=>"img-rounded") %>
						<%= image_tag("http://deepfashion.org/image/lg-1006.jpg",:class=>"img-rounded") %>
						<%= image_tag("http://deepfashion.org/image/lg-2.jpg",:class=>"img-rounded") %>
						<%= image_tag("http://deepfashion.org/image/lg-603.jpg",:class=>"img-rounded") %>
						<%= image_tag("http://deepfashion.org/image/lg-980.jpg",:class=>"img-rounded") %>
						<%= image_tag("http://deepfashion.org/image/lg-919.jpg",:class=>"img-rounded") %>
					</div>	
					<div id="search_section">
						<%= simple_form_for @photo, :remote => true do |f| %>
						<%= f.label :Upload %>
					    <%= f.file_field :photo_url %>
					 	<%= f.button :submit, id:"search" %>
						<% end %>
						<div id="image"></div>
					</div>
				</div>											
			</section>	<!-- END DATABASE IMAGE -->

			<!-- FOOTER
			============================================= -->
			<footer id="footer">
				<div class="container">
					<!-- Footer Social Icons -->
					<div class="row">									
						<div id="footer_icons" class="col-md-12 text-center">																	
							<ul class="footer-socials clearfix">
								<li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>	 <!-- End Footer Social Icons -->	
					</div>
					<!-- Footer Copy-->
					<div class="row">
						<div id="footer_copy" class="col-sm-12 text-center">	
							<p>DeepFashion © 2015. Designed and developed by DeepFashion.</p>	
						</div>	
					</div> 		
				</div>	  <!-- End container -->							
			</footer>	<!-- END FOOTER -->
		</div>	<!-- END CONTENT WRAPPER -->
